html{
	font-family: 'Arima Madurai', cursive;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 74px;
    background: rgba(0,0,0,0.8);
}

.nav-tab a {
    padding: 1.6rem;
    font-size: 1.1rem;
    display: inline-block;
}


.pull-right{
	float: right;
}



.nav-tab a.active {
    color: #F74F54;
}

.content {
    max-width: 75rem;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    max-width: 40px;
    margin: 12px;
}

.photo{
    width: 350px;
    border: 0 solid #fff;
    box-shadow: 2px 2px 5px #888;
}
.circle {
    border-radius: 50%;
}

.inline {
    display: inline-block;
}

.h-center {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}

.text-center {
    text-align: center;
}

.intro{
    font-weight: 200;
    padding: 1rem;
}

.middle, img {
    vertical-align: middle;
}

.social-icons {
    font-size: 3rem;
    margin-top: 2rem;
    display: block;
}

.social-icons a{
	color: #F74F54;
}

.filter{
    position: absolute;
    font-size: 0.9rem;
    color: #F74F54;
    margin-top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
}

.filter a{
    text-decoration: none;
    color: #F74F54;
    text-align: center;

}

.tag {
    padding: 8px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.tag.active {
    background-color: #F74F54;
    color: #f5f5f5;
}

.tag:hover, .flash-pri, .pri-bd-l {
border: 1px solid #f98083;
}

.tag, .filter .tag.active,#project .tag, .pri-bd, .tag {
border: 1px solid #F74F54;
}

.filter h2{
    color: black;
}

.thumbnail{
    width: 415px;
    height: 710px;
    display: inline-block;
    margin-bottom: 20px;
    border: solid black;
    border: 0 solid #fff;
    box-shadow: 2px 2px 5px #888;

}


.thumbnail img{
    height: 310px;
    width: 415px;

}

#project{
    position: absolute;
    margin-top: 15rem;
    margin-left: 3.5%;
    margin-bottom: 10%;
}

#project h3{
    text-align: center;
   
}

.half-circle{
    border-radius: 5%;
}

.columns{
    column-width: 480px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    width: 90%;
    margin: 40px auto;
}

.columns figure{

    padding: 10px;
}


.f1{
    height: 510px;
    
}

.mid{
    text-align: center;
}

.f2{
    height: 580px;
}

.f2 img{
    height: 380px;
}

.f3{
    height: 730px;
}

.f3 img{
    height: 500px;
}

.f5{
    height: 640px;
}

.f5 img{
    height: 420px;
}

.f6{
    height: 690px;
}

.f6 img{
    height: 420px;
}

.f7{
    height: 570px;
}




